body,html {
	overflow: hidden;
}

.navbar, .sidebar {
	background: grey;
}

.recStock {
	display: inline-block;
	overflow: hidden;
	height: 120px;
	width: 250px;
	z-index: 1;
	background-color: black;
	margin-bottom: 0px;
	border: 0;
	opacity: .8;
	padding-left: 5px;
	padding-right: 5px;
	white-space: normal;
}

.percent {
	margin-top: 10px;
}

.ticker {
	height: 100%;
	padding-left: 0;
}

.tickerPanel {
	height: 100%;
}

.tickerPanel p {
	font-size: 1.2em;
}

.tickerPanel p {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.tickerPanel p, 
.pricePanel p,
.tickerPanel p,
.percentPanel p {
	color: white;
}

.stockPanel {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 0;
}

.askPanel, .changePanel {
	font-size: .8em;
}

.askPrice, .changeP {
	font-size: 1.4em;
}

.askPrice,
.askPanel,
.changeP,
.changePanel {
	line-height: 90%;
}

#topRowStocks {
	white-space: nowrap;
	
	opacity: .8;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 0px;
	z-index: -1;
}

#firstRow {
	padding-left: 0;
	margin-left: 0;
}

#firstCol {
	padding-left: 0;
	margin-left: -15px;
}

#sideBar {
	z-index: 2;
}

#mainDiv {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 0px;
	margin-right: 0px;
}

.upBoxTicker {
	font-size: 3em;
}

.downBoxTicker {
	font-size: 3em;
}